.global-filter{
    margin-top: 20px;
}

.sub-toolbar{
    background-color: rgb(136, 136, 196) !important
}

.p{
    width: 10px;
}

header{
    background-color: rgb(40, 40, 53);
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

::ng-deep .custom-dialog-header .p-dialog-header {
  background-color: #074486;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 1rem;
}


.highlight-header {
  background-color: yellow;
  color: black;
  font-weight: bold;
}


.custom-search-bar {
  position: fixed;
  top: 180px;
  right: 50px;
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgbba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  z-index: 10000;
}

.custom-search-bar input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 8px;
  margin: 0 10px;
  width: 200px;
}

.custom-search-bar .match-info {
  margin-right: 10px;
  font-size: 14px;
}

.icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 3px;
}

.icon-button:focus {
  outline: none;
}

.search-icon {
  font-size: 16px;
  color: #333;
}

.close-btn i {
  color: red;
}

.p-table-wrapper {
  overflow-x: auto;
}

mark.highlight {
  background-color: yellow;
  color: black;
}

mark.highlight-active {
  background-color: orange;
  color: white;
}

.icon-hover-wrapper {
  display: inline-block;
  width: 30px;
  height: 30px; 
  position: relative;
}

.delete-icon {
  color: red;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
  position: absolute;
  top: 15px;
  left: 15px;
}

.icon-hover-wrapper:hover .delete-icon {
  opacity: 1;
}
.table-wrapper {
  position: relative;
}

.table-spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
}

.custom-spinner {
  width: 50px;
  height: 50px;
}

.sorted-column {
  background-color: #d1e7fd; 
  font-weight: bold;
}