<form  *ngIf="configForm" [formGroup]="configForm" class="p-fluid">
  <div *ngFor="let field of fields" class="form-css">
    <label>{{ field.fieldName }}</label>

    <input
      *ngIf="field.type === 'text' || field.type === 'number'"
      [type]="field.type"
      [formControlName]="field.field"
      [disabled]="!field.editable"
      class="form-css2"
    />

    <select
      *ngIf="field.type === 'select'"
      [formControlName]="field.field"
      [disabled]="!field.editable"
      class="form-css3"
    >
      <option *ngFor="let option of field.options" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>

  <div class="form-button">
    <app-z-button class="btn2" label="Submit" (handleclick)="onSubmit()"></app-z-button>
  </div>
</form>

