<h2 *ngIf="sectionName">{{ sectionName }}</h2>
<form *ngIf="configForm && fields.length" [formGroup]="configForm"> 
 <div *ngFor="let field of fields">
    <label>{{ field.fieldName }}</label>
    <input pInputText
      *ngIf="field.type === 'text' || field.type === 'number'"
      [type]="field.type"
      [formControlName]="field.field"
      [readonly]="!field.editable"/>
    <select
      *ngIf="field.type === 'select'"
      [formControlName]="field.field"
      [disabled]="!field.editable">
      <option *ngFor="let option of field.options" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>
  <button class="btn2" pButton type="button"
    (click)="onSubmit()">Submit</button>
</form>
