<div style="padding:1rem;min-width:300px">
  <h2>Add Assignment</h2>
  <div class="p-fluid">
      <label for="title">Title</label>
      <!-- <input id="title" type="text" pInputText [(ngModel)]="assignment.title" required />
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea id="description" pInputTextarea [(ngModel)]="assignment.description"></textarea>
    </div>
    <div class="p-field">
      <label for="dueDate">Due Date</label>
      <input id="dueDate" type="date" pInputText [(ngModel)]="assignment.dueDate" required />
    </div>
    <div class="p-field" style="text-align:right">
      <button pButton type="button" label="Add" (click)="submit()" [disabled]="!assignment.title || !assignment.dueDate"></button>
    </div>
  </div>
</div> -->
