

<p-toolbar class="student-toolbar" [style]="{'background-color': 'rgb(70, 89, 181)',' padding': '10px 15px','width':'99vw','boder':'none'}">
  <div class="toolbar-left">
    <h1 class="toolbar-title">Students Details</h1>
  </div>
  <div class="toolbar-right">
    <app-z-button
      class="z-button dashboard-btn add-btn"
      label="+Add Student Details"
      pTooltip="Enter Student"
      tooltipPosition="bottom"
      (handleclick)="show()"
    ></app-z-button>

    <app-z-button
      icon="pi pi-home"
      class="z-button dashboard-btn dashboard-btn-right"
      label="Dashboard"
      tooltipPosition="bottom"
      (handleclick)="openChart()"
    ></app-z-button>
  </div>
</p-toolbar>
