<p-toolbar class="toolbar" [style]="{'background-color':'rgb(70,89,181)','padding':'10px 15px','width':'98vw','border':'none'}">
  <div class="toolbar-left" style="display:flex; align-items:center; gap:1rem">
    <button pButton type="button" icon="pi pi-bars"
            class="p-button-text p-button-rounded toolbar-menu-btn"
            (click)="sidebarVisible = true"></button>

    <p-sidebar #sidebarRef [(visible)]="sidebarVisible" [style]="sidebarStyle">
      <app-sidebar></app-sidebar>
    </p-sidebar>

       <h2 *ngIf="studentService.isTeacher()">👩‍🏫 Teacher Dashboard</h2>
      <h2 *ngIf="studentService.isStudent()">👨‍🎓 Student Dashboard</h2>
  </div>

  <div class="toolbar-right" style="display:flex; align-items:center; gap:1rem">
    <app-z-button *ngIf="studentService.isTeacher()"
                  class="z-button dashboard-btn add-btn toolbar-btn"
                  label="+ Add Student Details"
                  pTooltip="Enter Student"
                  tooltipPosition="bottom"
                  (handleclick)="onAddStudent()">
    </app-z-button>

    <app-z-button icon="pi pi-home"
                  class="z-button dashboard-btn dashboard-btn-right toolbar-btn"
                  label="Dashboard"
                  tooltipPosition="bottom"
                  (handleclick)="onDashboard()">
    </app-z-button>

    <div class="mock-login">
      <p-menu #menu [popup]="true" [model]="roleItems"></p-menu>
      <button pButton type="button"
              [label]="role ? 'Role: '+ role : 'Select Role'"
              icon="pi pi-user"
              (click)="menu.toggle($event)">
      </button>
      <button pButton type="button" label="Login" (click)="loginDemo()" class="ml-2"></button>
    </div>
  </div>
</p-toolbar>
