.btns{
    margin-top: 10vh !important;
    margin-left: 23vw !important;
    cursor: pointer;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    font-weight: 640;
}