<form #myForm="ngForm" >
  <div *ngFor="let field of formFields" class="form-css">
    <app-input
      [label]="field.label"
      [(ngModel)]="user[field.name]"
      [required]="field.required"
      [type]="field.type"
      [name]="field.name"
      name="{{ field.name }}"
      #ctrl="ngModel"
    ></app-input>
    <div *ngIf="ctrl.invalid && ctrl.touched" class="error-text" style="color: red;">
      {{ field.errorMsg }}
    </div>
  </div>
   <div class="button-group" style="display: flex; justify-content: flex-end; gap: 1rem; margin-top: 1.5rem;">
    <button
      pButton
      type="button"
      label="Discard"
      icon="pi pi-times"
      class="p-button-secondary"
    ></button>
    <button
      pButton
      type="button"
      label="Save"
      icon="pi pi-check"
      class="p-button-success"
      [disabled]="myForm.invalid"
      (click)="submitform()"
    ></button>
  </div>

</form>
