<div class="p-fluid">
    <p-splitter [panelSizes]="panelSize" [minSizes]="minSize" styleClass="mb-5">
        <ng-template pTemplate>
            <form #myForm="ngForm">
                <div class="form-tab-header">
          <div
            *ngFor="let tab of formTabs"
             class="form-tab"
            (click)="scrollToSection(tab.sectionId)">
            {{ tab.label }}
              </div>
            </div>
                <div id="content" #content>
                      <div class="section section-one">
                    <h3>Personal Information</h3>
                    <div class="form-css">
                        <label for="name">
                            Name <span *ngIf="nameCtrl.errors "
                                style="color: red;">*</span>
                        </label>
                        <app-input [(ngModel)]="name" name="name"
                            [required]="true" type="text"
                            pattern="^[A-Za-z]+\s?[A-Za-z]+$"
                            #nameCtrl="ngModel"
                            [ngClass]="{'invalid-field': nameCtrl.invalid && nameCtrl.touched}"></app-input>
                        <div *ngIf="nameCtrl.invalid && nameCtrl.touched"
                            class="error-text" style="color: red;">
                            Name is required and should contain only letters.
                        </div>
                    </div>
                    <div class="form-css-inline">
                        <div class="form-css-half">
                            <label for="parentDropdown">Choose Parent</label>
                            <p-dropdown
                                name="parent"
                                inputId="parentDropdown"
                                [options]="parentOptions"
                                [(ngModel)]="selectedParent"
                                optionLabel="value"
                                optionValue="key"
                                placeholder="Select Parent"
                                [required]="true"
                                (onChange)="onParentChange($event)"
                                [ngClass]="{'invalid-field': myForm.submitted && !selectedParent}">
                                <ng-template let-option pTemplate="item">
                                    <div [pTooltip]="option.value"
                                        tooltipPosition="right">
                                        {{ option.value }}
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="form-css-half">
                            <ng-container>
                                <label for="childDropdown">Choose Child</label>
                                <p-dropdown
                                    #dropdownElem
                                    name="children"
                                    inputId="childDropdown"
                                    [options]="childOptions"
                                    [(ngModel)]="selectedChild"
                                    optionLabel="value"
                                    optionValue="key"
                                    [editable]="isEditable"
                                    placeholder="Select Child"
                                    (onChange)="onDropdownChange($event)"
                                    (onBlur)="onDropdownBlur()"
                                    #childCtrl="ngModel"
                                    [ngClass]="{'invalid-field': childCtrl.invalid && childCtrl.touched}">
                                    <ng-template pTemplate="footer">
                                        <div class="p-3"
                                            *ngIf="selectedParent">
                                            <app-z-button
                                                label="Add New"
                                                icon="pi pi-plus"
                                                severity="secondary"
                                                size="small"
                                                class="footer-button"
                                                (handleclick)="DropdownEditable()" />
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                <div
                                    *ngIf="childCtrl.invalid && childCtrl.touched"
                                    class="error-text" style="color: red;">
                                    Child selection is required
                                </div>
                                <div *ngIf="childExistsError"
                                    style="color: red; font-size: 13px;">
                                    This value already exists in the dropdown.
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    </div>
                          <div class="section section-two">
                             <h3>Contact Details</h3>
                    <div class="box1">
                        <div class="form-css5">
                            <label for="email">
                                Email <span *ngIf="emailCtrl.errors "
                                    style="color: red;">*</span>
                            </label>
                            <app-input [(ngModel)]="email" name="email"
                                [required]="true"
                                type="email" #emailCtrl="ngModel"
                                [ngClass]="{'invalid-field': emailCtrl.invalid && emailCtrl.touched}"></app-input>
                            <div *ngIf="emailCtrl.invalid && emailCtrl.touched"
                                class="error-text" style="color: red;">
                                Please enter a valid email address.
                            </div>
                        </div>
                    </div>
                    <div class="form-css4">
                        <label for="fathername">
                            Fathername/Guardian <span *ngIf="fatherCtrl.errors "
                                style="color: red;">*</span>
                        </label>
                        <app-input [(ngModel)]="Father"
                            name="father" pattern="^[A-Za-z]+\s?[A-Za-z]+$"
                            [required]="true" type="text"
                            #fatherCtrl="ngModel"
                            [ngClass]="{'invalid-field': fatherCtrl.invalid && fatherCtrl.touched}"></app-input>
                        <div *ngIf="fatherCtrl.invalid && fatherCtrl.touched"
                            class="error-text" style="color: red;">
                            Father Name is required and should contain only
                            letters.
                        </div>
                    </div>
                    <div class="address-group">
                        <div class="form-css">
                            <label for="address">
                                Address <span *ngIf="addressCtrl.errors"
                                    style="color: red;">*</span>
                            </label>
                            <app-input [(ngModel)]="address" name="address"
                                type="text" [required]="true"
                                #addressCtrl="ngModel"
                                [ngClass]="{'invalid-field': addressCtrl.invalid && addressCtrl.touched}"></app-input>
                            <div
                                *ngIf="addressCtrl.invalid && addressCtrl.touched"
                                class="error-text" style="color: red;">
                                Address is required.
                            </div>
                        </div>
                        <div class="form-css-inline">
                            <div class="form-css-half">
                                <label for="city">
                                    City <span *ngIf="cityCtrl.errors"
                                        style="color: red;">*</span>
                                </label>
                                <app-input [(ngModel)]="city" name="city"
                                    type="text" [required]="true"
                                    #cityCtrl="ngModel"
                                    [ngClass]="{'invalid-field': cityCtrl.invalid && cityCtrl.touched}"></app-input>
                                <div
                                    *ngIf="cityCtrl.invalid && cityCtrl.touched"
                                    class="error-text" style="color: red;">
                                    City is required.
                                </div>
                            </div>
                            <div class="form-css-half">
                                <label for="state">
                                    State <span *ngIf="stateCtrl.errors"
                                        style="color: red;">*</span>
                                </label>
                                <app-input [(ngModel)]="state" name="state"
                                    type="text" [required]="true"
                                    #stateCtrl="ngModel"
                                    [ngClass]="{'invalid-field': stateCtrl.invalid && stateCtrl.touched}"></app-input>
                                <div
                                    *ngIf="stateCtrl.invalid && stateCtrl.touched"
                                    class="error-text" style="color: red;">
                                    State is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-css">
                            <label for="postalCode">
                                Postal Code <span *ngIf="postalCtrl.errors"
                                    style="color: red;">*</span>
                            </label>
                            <app-input [(ngModel)]="postalCode"
                                name="postalCode" type="text" [required]="true"
                                #postalCtrl="ngModel"
                                [ngClass]="{'invalid-field': postalCtrl.invalid && postalCtrl.touched}"></app-input>
                            <div
                                *ngIf="postalCtrl.invalid && postalCtrl.touched"
                                class="error-text" style="color: red;">
                                Valid postal code is required.
                            </div>
                        </div>
                    </div>
                    </div>
                 <div class="section section-three">
                    <h3>Additional Information</h3>
                    <div class="form-css">
                        <label for="chooseoption">
                            Choose Option <span
                                *ngIf="genericDropdownCtrl.errors "
                                style="color: red;">*</span>
                        </label>
                        <app-dropdown
                            name="genericDropdown"
                            [(ngModel)]="selectedValue"
                            [options]="dropdownOptions"
                            [required]="true"
                            (valueChange)="handleValueChange($event)"
                            #genericDropdownCtrl="ngModel"
                            [ngClass]="{'invalid-field': genericDropdownCtrl.invalid && genericDropdownCtrl.touched}"></app-dropdown>
                        <div
                            *ngIf="genericDropdownCtrl.invalid && genericDropdownCtrl.touched"
                            class="error-text" style="color: red;">
                            Selection is required
                        </div>
                    </div>
                    <div class="form-css">
                        <label for="chooseoption">
                            Fees Procssing
                             <span
                                *ngIf="feesprocessCtrl.errors "
                                style="color: red;">*</span>
                        </label>
                        <app-dropdown
                            name="feesprocess"
                            [(ngModel)]="selectedfees"
                            [options]="feesprocess"
                            [required]="true"
                            (valueChange)="handlefeesprocessing($event)"
                            #feesprocessCtrl="ngModel"
                            [ngClass]="{'invalid-field': feesprocessCtrl.invalid && feesprocessCtrl.touched}"></app-dropdown>
                        <div
                            *ngIf="feesprocessCtrl.invalid && feesprocessCtrl.touched"
                            class="error-text" style="color: red;">
                            Selection is required
                        </div>
                    </div>
                    <div class="form-css">
                        <label for="age">
                            Age <span *ngIf="ageCtrl.errors "
                                style="color: red;">*</span>
                        </label>
                        <app-input [(ngModel)]="age" name="age"
                            [required]="true" type="number" [min]="18"
                            [max]="100"
                            #ageCtrl="ngModel"
                            [ngClass]="{'invalid-field': ageCtrl.invalid && ageCtrl.touched}"></app-input>
                        <div *ngIf="ageCtrl.invalid && ageCtrl.touched"
                            class="error-text" style="color: red;">
                            Age must be between 18 and 100.
                        </div>
                    </div>
                    </div>
                    <div class="form-button">
                        <p-button class="btn1" label="Discard"
                            [class]="'p-button-danger mr-2'"
                            (onClick)="closeDialog()"></p-button>
                        <p-button class="btn2" label="Submit" [style]="{'background-color':'red','color':'white'}"
                            (onClick)="onSubmit(myForm)"></p-button>
                    </div>
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate>
            <div class="pdf-preview">
                <div class="pdf-header">
                    <i class="pi pi-file-pdf" aria-hidden="true"
                        style="font-size: 1.5rem; margin-right: 8px; cursor: pointer;"
                        (click)="activeTab = 'pdf'; showBookInput = false;"></i>
                    <i class="pi pi-book" aria-hidden="true"
                        style="font-size: 1.5rem; margin-right: 8px; margin-left: 8px; cursor: pointer;"
                        (click)="activeTab = 'book'; showBookInput = true;"></i>
                    <span>Notes</span>
                </div>
                <ng-container *ngIf="activeTab === 'pdf'">
                    <div *ngIf="pdfUrls.length; else noPdfData">
                        <div *ngFor="let pdf of pdfUrls; let i = index"
                            class="pdf-card"
                            [ngClass]="{ 'recent-pdf': mostRecentType === 'pdf' && mostRecentIndex === i }"
                            (click)="openPdf(i)">
                            <div class="card-content">
                                <span class="pdf-label">
                                    Student Detail form Assigned by: {{ pdf.name  }}
                                </span>
                            </div>
                            <div class="pdf-icon">
                                <i class="pi pi-user" aria-hidden="true"></i>
                                <time [attr.datetime]="pdf.submissionTime">
                                    Submitted on: {{ pdf.submissionTime }}
                                </time>
                            </div>
                        </div>
                    </div>
                    <ng-template #noPdfData>
                        <div class="no-data-message"
                            style="color: #888; margin-bottom: 10px;">No PDF
                            data</div>
                    </ng-template>
                    <div *ngIf="uploadedFiles.length">
                        <div class="pdf-card"
                            *ngFor="let file of uploadedFiles, let i = index"
                            [ngClass]="{ 'recent-pdf': mostRecentType === 'file' && mostRecentIndex === i }">
                            {{ file.name }} - {{ file.size }} bytes
                        </div>
                    </div>
                    <div class="footer">
                        <div class="card">
                            <p-toast />
                            <div class="card">
                                <p-fileUpload 
                                    name="demo[]"
                                    url="https://www.primefaces.org/cdn/api/upload.php"
                                    (onUpload)="onUpload($event)"
                                    [multiple]="true"
                                    accept="image/*"
                                    [maxFileSize]="1000000"
                                    mode="advanced">
                                </p-fileUpload>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="activeTab === 'book'">
                    <div *ngIf="bookValues.length; else noBookData">
                        <div class="book-value-list"
                            style="margin-bottom: 10px;">
                            <div class="pdf-card"
                                *ngFor="let value of bookValues; let i = index">
                                <span class="book-value"
                                    style="display: block; margin-bottom: 2px; color:white">{{
                                    value }}</span>
                                <span class="submission-time"
                                    style="font-size: 13px; color: #888;">Submitted
                                    on: {{ bookTimes[i] }}</span>
                            </div>
                        </div>
                    </div>
                    <ng-template #noBookData>
                        <div class="no-data-message"
                            style="color: #888; margin-bottom: 10px;">No book data</div>
                    </ng-template>
                    <div *ngIf="showBookInput" class="footer"
                        style="margin-bottom: 1rem;">
                        <input type="text" pInputText
                            [(ngModel)]="bookInputValue"
                            placeholder="Enter book info..."
                            style="margin-right: 8px; width: 25vw; " />
                        <button pButton type="button" label="Save"
                            (click)="saveBookInput()"
                            style="margin-right: 4px;"></button>
                        <button pButton type="button" label="Cancel"
                            class="p-button-secondary"
                            (click)="cancelBookInput()"></button>
                    </div>
                </ng-container>
            </div>
        </ng-template>
    </p-splitter>
</div>
